@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary: #ded5c9;
  --color-secondary: #fffae6;
  --color-text: #361e1c;
  --color-accent-orange: #fe5801;
  --color-accent-green: #6c7e72;

  /*Typografi */
  --font-display: "Lilita One", sans-serif;
  --font-serif: "Libre Baskerville", serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
