---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import FaktaHero from "../components/FaktaHero.astro";
import Udvalgte from "../components/Udvalgte.astro";
import Infomoede from "../components/Infomoede.astro";
import Cards from "../components/Cards.astro";
import SoMe from "../components/SoMe.astro";
import Forskel from "../components/Forskel.astro";
import Citater from "../components/Citater.astro";

---
<MainLayout title="Titel">
	
	<Hero />
	<main class="container mx-auto px-4">
		<FaktaHero />
		<Heading htmlheading="h2" size="h2_dark" font="overskrifter" stylingclasses="text-center pb-10">Om os</Heading>
		<Udvalgte />
		<Infomoede />
		<Heading htmlheading="h2" size="h2_dark" font="overskrifter" stylingclasses="text-center pb-10"> Alle rejser</Heading>
		<Cards />
		<Heading htmlheading="h2" size="h2_light" font="overskrifter" stylingclasses="text-center pb-10">Fölg med på rejsen</Heading>
		<SoMe />
		<Heading htmlheading="h2" size="h2_dark" font="overskrifter" stylingclasses="text-center pb-10">Vi gör forskel</Heading>
		<Text teksttype="brødtekst_dark">Vi tror på, at alle kan gøre en forskel - selv en højskole fra Danmark. Vi støtter derfor Verdens Skoves arbejde med bevarelse og bæredygtig brug af verdens skove. </Text>
		<Forskel />
		<Button>Læs om vores indsats</Button>
		<Heading htmlheading="h2" size="h2_dark" font="overskrifter" stylingclasses="text-center pb-10"> Det siger andre?</Heading>
		<Citater />
	</main>
	
</MainLayout>