---
---
<section class="flex flex-wrap justify-center m-8">
    <!-- card 1 -->
<a href="" class=" overflow-hidden max-w-[400px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card1.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Maldiverne, Sri Lanka,<br />Bali &amp; Gili Islands</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">2 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 52.900 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 2 -->
<a href="" class=" overflow-hidden max-w-[575px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card2.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Maldiverne, Sri Lanka,<br /> Bali, Gili Island, Japan & Australien</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 86.900 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 3 -->
<a href="" class=" overflow-hidden max-w-[400px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card3.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Australien, <br /> New Zealand, Vietnam, <br />Bali,  Gili Island & Lombok</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 74.900 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 4 -->
<a href="" class=" overflow-hidden max-w-[575px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card4.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">New York City, Hawaii, <br />Australien, Japan, Bali & Gili Islands</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 85.500 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 5 -->
<a href="" class=" overflow-hidden max-w-[400px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card5.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Australien, Japan, Bali & <br />Gili Islands</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 57.500 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 6 -->
 <a href="" class=" overflow-hidden max-w-[400px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card6.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Brasilien, Bolivia, <br />Colombia, Ecuador, Peru & Argentina</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 75.900 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 7 -->
 <a href="" class=" overflow-hidden max-w-[400px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card7.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Bali, Lombok & <br />Gili Island</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 28.900 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 8 -->
 <a href="" class=" overflow-hidden max-w-[400px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card8.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Brasilien, Colombia,<br /> Costa Rica & Mexico</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 57.900 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 9 -->
 <a href="" class=" overflow-hidden max-w-[575px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card9.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Indien, Nepal, Thailand,<br />  Vietnam & Sri Lanka</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 62.500 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 10 -->
 <a href="" class=" overflow-hidden max-w-[700px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card10.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Sydkorea & Japan</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 39.995 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
<!-- card 11 -->
 <a href="" class=" overflow-hidden max-w-[700px] block rounded-3xl hover:scale-103 transition-transform duration-400 ease-in-out">
    <div class="relative">
        <img src="/img/card11.webp" alt="elephant" class="object-cover h-auto w-full">
        <h3 class="absolute top-7 left-7 font-display text-3xl text-secondary">Japan</h3>
    <div class=" bg-secondary rounded-3xl p-4 flex justify-between items-end absolute bottom-4 left-2 right-4">
        <div class="">
            <h5 class="font-display text-xl text-text ">3 måneder</h5>
            <h4 class="font-display text-2xl text-text ">Ca 29.990 DKK</h4>
        </div>
        <button class="bg-accent-orange font-display p-2 px-5 text-xl rounded-xl text-secondary cursor-pointer hover:bg-text">Se rejse</button>
    </div>
    </div>
</a>
</section>