---
import Heading from '../components/Heading.astro';
import Text from '../components/Text.astro';
import "../styles/tailwind.css";
---
<footer class="bg-[var(--color-text)] text-[var(--color-secondary)] mt-20">
  <div class="container mx-auto pt-15">

    <div class="flex flex-col md:flex-row justify-between items-start gap-6 mb-10">
      <div class="text-center md:text-left">
        <Heading htmlheading="h4" size="h4_light" font="overskrifter" stylingclasses="mb-2">HÖJSKOLENDK</Heading>
        <Text teksttype="brødtekst_light" stylingclasses="mb-10">
          Rosenørns Allé 31,<br>
          1970 Frederiksberg,<br>
          Danmark
        </Text>
        <Text teksttype="brødtekst_light">
          Telefon: 7027 9007<br>
          Mandag til fredag // kl. 10.00-16.00<br>
          Mail: info@hojskolen.dk
        </Text>
      </div>

      <div class="text-center md:text-left">
        <Heading htmlheading="h4" size="h4_light" font="overskrifter" stylingclasses="mb-2">GODT AT VIDE</Heading>
        <Text teksttype="brødtekst_light">
          FAQ<br>
          Job<br>
          Bæredygtighed<br>
          Rejsegarantifonden<br>
          Fra tilmelding til afrejse<br>
          Generelle bestemmelser<br>
          Grupperejser for unge<br>
          Rejs i sabbatår<br>
        </Text>
      </div>

      <div class="text-center md:text-left">
        <Heading htmlheading="h4" size="h4_light" font="overskrifter" stylingclasses="mb-2">HØJSKOLE I UDLANDET</Heading>
        <Text teksttype="brødtekst_light">
          Tilmeld dig her!<br>
          Se alle rejser<br>
          Infomøder<br>
          Trustpilot<br>
        </Text>
      </div>
    </div>

    <div class="flex justify-between items-center mb-10">
      <div class="text-center md:text-left">
        <Heading htmlheading="h4" size="h4_light" font="overskrifter" stylingclasses="mb-2">SAMARBEJDSPARTNERE:</Heading>
        <img src="/img/footer.webp" alt="samarbejdspartnere" class="h-40" />
      </div>

    <div class="text-center md:text-left pt-20">
  <a href="/" aria-label="Gå til forsiden">
    <img src="/svg/logo_footer.svg" alt="logo" class="h-20 cursor-pointer hover:opacity-70 transition-opacity" />
  </a>
</div>

    </div>

   
    <div class="flex flex-col md:flex-row justify-between items-start gap-6 border-t border-[var(--color-secondary)] pt-5 pb-10">
      <p class="font-serif text-sm">HÖJSKOLENDK er medlem af <a href="https://www.rejsegarantifonden.dk/" class="underline hover:no-underline">Rejsegarantifonden</a>.</p>
      <p class="font-serif text-sm">  <a href="https://www.hojskolendk.dk/tilmeld/generelle-bestemmelser/" class="underline hover:no-underline">Handelsbetingelser</a> / <a href="https://www.hojskolendk.dk/tilmeld/generelle-bestemmelser/cookies/" class="underline hover:no-underline">Cookiepolitik</a> / 
    <a href="https://www.hojskolendk.dk/tilmeld/generelle-bestemmelser/privatlivspolitik/" class="underline hover:no-underline">Data- & Privatlivspolitik</a></p>
      <p class="font-serif text-sm">Copyright © HÖJSKOLENDK 2022 • CVR 32491162</p>

    </div>

  </div>
</footer>
