---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<header x-data="{ showmenu: false }" class="" >
    <div id="navbar" class="container mx-auto p-4 flex flex-row justify-between items-center bg-secondary rounded-3xl">
        <div id="logo" class="">
            <a href="/" class="font-display text-4xl"><img src="/svg/logo.svg" alt="Logo" class="h-15" /></a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-10">
                <li class=""><a href="/#infomoede" class= "font-display text-2xl text-text hover:text-accent-orange">Infomøder</a></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
                <li class=""><a href="/#allerejser" class="font-display text-2xl text-text hover:text-accent-orange">Alle rejser</a></li>
                <li class=""><a href="/#foelgmed" class= "font-display text-2xl text-text hover:text-accent-orange">Følg med</a></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
                <li class=""><a href="/#oplevverdenen" class="font-display text-2xl text-text hover:text-accent-orange">Oplev verdenen</a></li>
                <li class=""><a href="/#elevernesiger" class="font-display text-2xl text-text hover:text-accent-orange pr-4">Eleverne siger</a></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
            </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>
</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="border-t-2 border-b-2 border-black">
            <li class="text-center py-2"><a href="/" class={currentPath === "" ? "italic font-bold" : "italic"}>Forside</a></li>
            <li class="text-center py-2"><a href="/komponentbibliotek/" class={currentPath === "komponentbibliotek/" ? "italic font-bold" : "italic"}>Komponentbibliotek</a></li>
        </ul>
    </nav>
</header>