---
import "../styles/tailwind.css";
import Heading from './Heading.astro';    
const {id} = Astro.props;
import FaktaHero from "./FaktaHero.astro";
---

<section id={id} class="@container grid grid-cols-60 grid-rows-12">
    <img src="/img/hero_baggrund.webp" alt="" class="col-start-1 col-span-60 row-start-1 row-span-12 object-cover w-full"/>
    <Heading htmlheading="h1" size="h1_hero" font="overskrifter" stylingclasses="col-start-10 col-span-40 row-start-4 -mt-4 row-span-15 intersect:animate-fade-up animate-once animate-duration-[1500ms]">
        HÖJSKOLENDK
    </Heading>
    <Heading htmlheading="h2" size="h2_light" font="overskrifter" stylingclasses="col-start-20 col-span-40 row-start-6 -mt-12 row-span-15 intersect:animate-fade-left animate-once animate-duration-[1500ms]">
       DIT LIVS EVENTYR
    </Heading>
 <img src="/img/mellemgrund.png" alt=""
     class="col-start-1 col-span-60 row-start-1 row-span-112 object-cover w-full"/>

      <img src="/img/hero_mellemgrund.webp" alt="" class="col-start-26 col-span-60 row-start-6 row-span-12 object-cover w-90 z-25"/>
      

    <img src="/img/forgrund.webp" alt=""
     class="col-start-1 col-span-60 row-start-6 -mt-11 row-span-12 object-cover w-full transform -translate-x-1"/>
      <img src="/img/sky.png" alt="" class="col-start-14 col-span-60 row-start-2 mt-6 row-span-12 object-cover w-110 slide-in-left"/>
      <img src="/img/sky2.png" alt="" class="col-start-45 col-span-60 row-start-3 -mb-9 row-span-12 object-cover w-85 slide-in-left2"/>
      <a
  href="/tilmeld"
  class="col-start-16 col-span-11 row-start-9
         w-full h-15 inline-flex items-center justify-center gap-3
         font-display text-2xl leading-none rounded-3xl px-10
         bg-accent-orange text-secondary cursor-pointer duration-300
         group hover:bg-text z-20 hover:animate-wiggle-more hover:animate-infinite hover:animate-duration-600"
>
  Tilmeld dig her!
</a>
      <a
  href="/#allerejser"
  class="col-start-37 col-span-11 row-start-9
         w-full h-15 inline-flex items-center justify-center gap-3
         font-display text-2xl leading-none rounded-3xl px-10
         bg-secondary text-text cursor-pointer duration-300
         group hover:text-accent-orange z-20 hover:animate-wiggle-more hover:animate-infinite hover:animate-duration-600"
>
  Se alle rejser
</a>

</section>
