---
import Text from "../components/Text.astro";
import Heading from "./Heading.astro";
---

<section class="flex overflow-x-auto snap-x snap-mandatory mt-12 container mx-auto">
    <!-- SLIDE 1 -->
    <article id="article1" class="@container grid grid-cols-60 grid-rows-15 max-h-[120vh] min-w-full snap-start">
         <h3 class="font-display text-3xl text-text col-start-4 col-span-8 row-start-1 pt-4">Introdage</h3>
          <h3 class="font-display text-3xl text-text col-start-15 col-span-8 row-start-1 pt-4">Teambuilding</h3>
         <h3 class="font-display text-3xl text-text col-start-26 col-span-8 row-start-1 pt-4">Kulturprojekter</h3>
          <h3 class="font-display text-3xl text-text col-start-39 col-span-8 row-start-1 text-center">Sport & adventure</h3>
           <h3 class="font-display text-3xl text-text col-start-51 col-span-8 row-start-1 text-center">Rundrejse & eventyr</h3>
    <img src="/svg/linje1.svg" class="col-start-1 col-span-60 row-start-3" alt="linje">
        <img src="/svg/fly_program.svg" class="col-start-5 col-span-8 row-start-2 pt-3" alt="">
      
        <img src="/svg/pin.svg" class="col-start-6 col-span-9 row-start-4 pt-9" alt="">
        <h3 class="font-display text-4xl text-text col-start-9 col-span-18 row-start-4 pt-16">Rio de Janeiro, Brasilien</h3>
        <div class="col-start-6 col-span-24 row-start-6 row-end-10">
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-tr-4xl rounded-tl-4xl">Vi begynder vores rejseeventyr med tre spændende introdage i Rio de Janeiro, hvor vi lærer hinanden at kende og lægger fundamentet til et stærkt fællesskab i en by der er fuld af liv, farver og energi. </p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary">Glæd jer til at opleve den legendariske Copacabana-strand, udforske byens kontraster på vores autentiske Favela-tur, og blive udfordret med HÖJSKOLENDKs helt eget adventurerace. </p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-br-4xl rounded-bl-4xl">Rio de Janeiro byder på en uforglemmelig kombination af kultur og natur, der sætter scenen for resten af vores højskole-eventyr.</p>
        </div>
    <img src="/svg/brasilien.svg" class="col-start-35 col-span-20 row-start-5" alt="">
    <img src="/img/program1.webp" class="col-start-49 col-span-7 row-start-5" alt="">
    <img src="/img/program2.webp" class="col-start-32 col-span-9 row-start-9" alt="">
    <a href="#article2" class="col-start-58 col-span-4 row-start-8 pb-4 group">
          <img src="/svg/arrowright.svg" alt="" class="w-20 h-20 block group-hover:hidden">
          <img src="/svg/arrowright_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
        </a>
</article>

<!-- SLIDE 2 -->
    <article id="article2" class="@container grid grid-cols-60 grid-rows-15 max-h-[120vh] min-w-full snap-start">
         <h3 class="font-display text-3xl text-text col-start-4 col-span-8 row-start-1 pt-4">Introdage</h3>
          <h3 class="font-display text-3xl text-text col-start-15 col-span-8 row-start-1 pt-4">Teambuilding</h3>
         <h3 class="font-display text-3xl text-text col-start-26 col-span-8 row-start-1 pt-4">Kulturprojekter</h3>
          <h3 class="font-display text-3xl text-text col-start-39 col-span-8 row-start-1 text-center">Sport & adventure</h3>
           <h3 class="font-display text-3xl text-text col-start-51 col-span-8 row-start-1 text-center">Rundrejse & eventyr</h3>
    <img src="/svg/linje2.svg" class="col-start-1 col-span-60 row-start-3" alt="linje">
        <img src="/svg/fly_program.svg" class="col-start-17 col-span-8 row-start-2 pt-3" alt="">
        <img src="/svg/pin.svg" class="col-start-6 col-span-9 row-start-4 pt-9" alt="">
        <h3 class="font-display text-4xl text-text col-start-9 col-span-18 row-start-4 pt-16">Macumba, Brasilien</h3>
        <div class="col-start-6 col-span-24 row-start-6 row-end-13 rounded-4xl">
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-tr-4xl rounded-tl-4xl">Vi bor i det naturskønne område ved Macumba Beach, der er kendt for sin afslappede atmosfære og autentiske brasilianske vibe. </p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary">Her kan I glæde jer til masse fede aktiviteter og inspirerende undervisning, der styrker vores fællesskab. </p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary">Vi skal bl.a. hike til det ikoniske ’Pedra do Telégrafo’ – hvor man ender med en spektakulær udsigt over kysten og det frodige landskab – og desuden surfe på de perfekte begynder-bølger. </p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-br-4xl rounded-bl-4xl">Som prikken over i’et, kaster vi os ud i de brasilianske rytmer og lærer de grundlæggende samba-trin af lokale dansere. Macumba Beach er det perfekte sted til teambuilding, højskole-fællesskab og eventyr i lækre omgivelser.</p>
        </div>
        </div>
    <img src="/svg/brasilien.svg" class="col-start-35 col-span-20 row-start-5" alt="">
    <img src="/img/program3.webp" class="col-start-49 col-span-7 row-start-5" alt="">
    <img src="/img/program4.webp" class="col-start-32 col-span-9 row-start-9" alt="">
        <a href="#article3" class="col-start-58 col-span-3 row-start-8 pb-4 group">
                    <img src="/svg/arrowright.svg" alt="" class="w-20 h-20 block group-hover:hidden">
                    <img src="/svg/arrowright_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
                </a>
            
                    <a href="#article1" class="col-start-1 col-span-3 row-start-8 pb-4 group">
                        <img src="/svg/arrowleft.svg" alt="" class="w-20 h-20 block group-hover:hidden">
                        <img src="/svg/arrowleft_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
                    </a>
        </article>

<!-- SLIDE 3 -->
     <article id="article3" class="@container grid grid-cols-60 grid-rows-15 max-h-[120vh] min-w-full snap-start">
         <h3 class="font-display text-3xl text-text col-start-4 col-span-8 row-start-1 pt-4">Introdage</h3>
          <h3 class="font-display text-3xl text-text col-start-15 col-span-8 row-start-1 pt-4">Teambuilding</h3>
         <h3 class="font-display text-3xl text-text col-start-26 col-span-8 row-start-1 pt-4">Kulturprojekter</h3>
          <h3 class="font-display text-3xl text-text col-start-39 col-span-8 row-start-1 text-center">Sport & adventure</h3>
           <h3 class="font-display text-3xl text-text col-start-51 col-span-8 row-start-1 text-center">Rundrejse & eventyr</h3>
    <img src="/svg/linje3.svg" class="col-start-1 col-span-60 row-start-3" alt="linje">
        <img src="/svg/fly_program.svg" class="col-start-29 col-span-8 row-start-2 pt-3" alt="">
        <img src="/svg/pin.svg" class="col-start-6 col-span-9 row-start-4 pt-9" alt="">
        <h3 class="font-display text-4xl text-text col-start-9 col-span-20 row-start-4 pt-8">Bogotá, La Boquilla & Cartagena, Colombia</h3>
        <div class="col-start-6 col-span-24 row-start-6 row-end-14 rounded-4xl">
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-tr-4xl rounded-tl-4xl">I hovedstaden Bogotá tager på city-tour, hvor vi bl.a. ser street art, besøger det berømte guldmuseum og spiller det traditionelle colombianske spil Tejo – alt imens vi oplever byens spændende kultur og kulinariske oplevelser. Bogotá byder på charmerende gader, farverige markeder og en unik stemning, der skaber den perfekte ramme for vores start i landet.</p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary">Derefter går turen til La Boquilla, et charmerende kystområde nær Cartagena, hvor vi engagerer os i meningsfulde kulturprojekter med de lokale. Her lærer vi at lave autentiske snacks, deltager i beach-clean-ups og oplever vaskeægte kulturudveksling. Det er en fantastisk mulighed for at gøre en forskel, mens vi fordyber os i den lokale livsstil.</p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-br-4xl rounded-bl-4xl">Sidste stop i Colombia er den historiske og smukke by Cartagena, der med sine små brostensbelagte gader, farverige huse og livlige stemning runder vores tid i Sydamerika perfekt af.  </p>
            
        </div>
        </div>
    <img src="/svg/colombia.svg" class="col-start-35 col-span-20 row-start-5" alt="">
    <img src="/img/program5.webp" class="col-start-49 col-span-7 row-start-5" alt="">
    <img src="/img/program6.webp" class="col-start-32 col-span-9 row-start-9" alt="">
        <a href="#article4" class="col-start-58 col-span-3 row-start-8 pb-4 group">
                    <img src="/svg/arrowright.svg" alt="" class="w-20 h-20 block group-hover:hidden">
                    <img src="/svg/arrowright_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
                </a>
            
                    <a href="#article2" class="col-start-1 col-span-3 row-start-8 pb-4 group">
                        <img src="/svg/arrowleft.svg" alt="" class="w-20 h-20 block group-hover:hidden">
                        <img src="/svg/arrowleft_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
                    </a>
        </article>

        <!-- SLIDE 4 -->
        <article id="article4" class="@container grid grid-cols-60 grid-rows-15 max-h-[120vh] min-w-full snap-start">
         <h3 class="font-display text-3xl text-text col-start-4 col-span-8 row-start-1 pt-4">Introdage</h3>
          <h3 class="font-display text-3xl text-text col-start-15 col-span-8 row-start-1 pt-4">Teambuilding</h3>
         <h3 class="font-display text-3xl text-text col-start-26 col-span-8 row-start-1 pt-4">Kulturprojekter</h3>
          <h3 class="font-display text-3xl text-text col-start-39 col-span-8 row-start-1 text-center">Sport & adventure</h3>
           <h3 class="font-display text-3xl text-text col-start-51 col-span-8 row-start-1 text-center">Rundrejse & eventyr</h3>
    <img src="/svg/linje4.svg" class="col-start-1 col-span-60 row-start-3" alt="linje">
        <img src="/svg/fly_program.svg" class="col-start-41 col-span-8 row-start-2 pt-3" alt="">
        <img src="/svg/pin.svg" class="col-start-6 col-span-9 row-start-4 pt-9" alt="">
        <h3 class="font-display text-4xl text-text col-start-9 col-span-20 row-start-4 pt-8">San José, Puerto Viejo & Monteverde, Costa Rica</h3>
        <div class="col-start-6 col-span-24 row-start-6 row-end-14 rounded-4xl">
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-tr-4xl rounded-tl-4xl">Vores eventyr fortsætter i Costa Rica i Mellemamerika, i Puerto Viejo, der ligger på den caribiske kyst. Puerto Viejo beskrives af mange som et “mini-Jamaica”, hvor reggaemusik blander sig perfekt med lyden af havets bølger.</p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary">Vi bor lidt ude for byen, på et roligt eco-lodge med lækker strand, jungle og brøleaber omkring os. På lejede cykler kommer vi hurtigt ind til den hyggelige by, hvor der er caféer med live-musik, restauranter med lokal mad og en fed caribisk rasta-stemning.
</p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-br-4xl rounded-bl-4xl">Efter vores tid ved det Caribiske Hav, stikker vi nordpå til Monteverde, og fortsætter med ‘Sport & Adventure’. Monteverde – en smukt beliggende by i bjergene – er berømt for sin cloud forest og frodige jungle og er et paradis for naturelskere.  </p>
            
        </div>
        </div>
    <img src="/svg/costarica.svg" class="col-start-35 col-span-20 row-start-5" alt="">
    <img src="/img/program7.webp" class="col-start-49 col-span-7 row-start-5" alt="">
    <img src="/img/program8.webp" class="col-start-32 col-span-9 row-start-9" alt="">
        <a href="#article5" class="col-start-58 col-span-3 row-start-8 pb-4 group">
                    <img src="/svg/arrowright.svg" alt="" class="w-20 h-20 block group-hover:hidden">
                    <img src="/svg/arrowright_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
                </a>
            
                    <a href="#article3" class="col-start-1 col-span-3 row-start-8 pb-4 group">
                        <img src="/svg/arrowleft.svg" alt="" class="w-20 h-20 block group-hover:hidden">
                        <img src="/svg/arrowleft_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
                    </a>
        </article>

        <!-- SLIDE 5 -->
        <article id="article5" class="@container grid grid-cols-60 grid-rows-15 max-h-[120vh] min-w-full snap-start">
         <h3 class="font-display text-3xl text-text col-start-4 col-span-8 row-start-1 pt-4">Introdage</h3>
          <h3 class="font-display text-3xl text-text col-start-15 col-span-8 row-start-1 pt-4">Teambuilding</h3>
         <h3 class="font-display text-3xl text-text col-start-26 col-span-8 row-start-1 pt-4">Kulturprojekter</h3>
          <h3 class="font-display text-3xl text-text col-start-39 col-span-8 row-start-1 text-center">Sport & adventure</h3>
           <h3 class="font-display text-3xl text-text col-start-51 col-span-8 row-start-1 text-center">Rundrejse & eventyr</h3>
    <img src="/svg/linje5.svg" class="col-start-1 col-span-60 row-start-3" alt="linje">
        <img src="/svg/fly_program.svg" class="col-start-53 col-span-8 row-start-2 pt-3" alt="">
        <img src="/svg/pin.svg" class="col-start-6 col-span-9 row-start-4 pt-9" alt="">
        <h3 class="font-display text-4xl text-text col-start-9 col-span-22 row-start-4 pt-8">Playa del Carmen, Valladolid & Isla Holbox, Mexico</h3>
        <div class="col-start-6 col-span-24 row-start-6 row-end-14 rounded-4xl">
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-tr-4xl rounded-tl-4xl">Vi starter rundrejsen i Playa Del Carmen, der byder på masser af lokale restauranter, tacoboder og barer med live-musik, der tit ligger helt nede på stranden. Her rig mulighed for både dykning, snorkling, beachvolley og masser af adventure oplevelser. Her er også rig mulighed for at tage på dagsture til bl.a. Tulum, Maya-ruinerne og Kukulcán pyramiden ved Chichén Itzá og de smukke undervandsgrotter ’cenotes’.</p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary">Næste stop, Valladolid. Byens farverige facader, brostensbelagte gader og ikoniske cenoter byder på en autentisk mexicansk atmosfære, der er svær at modstå. Vi udforsker det imponerende San Gervasio-kloster, smager lokale specialiteter som cochinita pibil, og køler af i de skjulte underjordiske cenoter. </p>
            <p class="text-text font-serif text-[14px] p-4 bg-secondary rounded-br-4xl rounded-bl-4xl">Med bare tæer i sandet rundet vi opholdet af på det lille ø-paradis ’Isla Holbox’. Her venter kridhvide strande, hængekøjer i vandet, selvlysende plankton, stjerner på himlen og masser af højskolehygge. Vi kan spille beachvolley, besøge de hyggelige strandbarer, slentre rundt i de hyggelige gader (uden biler) og nyde det 30 grader varme Caribiske Hav.  </p>
            
        </div>
        </div>
    <img src="/svg/mexico.svg" class="col-start-33 col-span-22 row-start-7" alt="">
    <img src="/img/program9.webp" class="col-start-49 col-span-7 row-start-5" alt="">
    <img src="/img/program10.webp" class="col-start-32 col-span-9 row-start-9" alt="">
            
                    <a href="#article4" class="col-start-1 col-span-3 row-start-8 pb-4 group">
                        <img src="/svg/arrowleft.svg" alt="" class="w-20 h-20 block group-hover:hidden">
                        <img src="/svg/arrowleft_orange.svg" alt="" class="w-20 h-20 hidden group-hover:block">
                    </a>
        </article>
</section>