---
---
<section class="grid grid-cols-4">
<div class="max-w-[300px] mx-auto my-8">
  <blockquote
    class="instagram-media"
    data-instgrm-permalink="https://www.instagram.com/reel/DNOE4oKs3lf/?utm_source=ig_embed&utm_campaign=loading"
    data-instgrm-version="14"
    style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px auto; max-width:540px; min-width:326px; width:calc(100% - 2px);">
  </blockquote>

  <!-- Instagram script: kun én gang per side -->
  <script is:inline async src="https://www.instagram.com/embed.js"></script>
</div>

<div class="max-w-[300px] mx-auto my-8">
  <blockquote
    class="instagram-media"
    data-instgrm-permalink="https://www.instagram.com/p/DQZnunKjM3T/?utm_source=ig_embed&amp;utm_campaign=loading"
    data-instgrm-version="14"
    style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px auto; max-width:540px; min-width:326px; width:calc(100% - 2px);">
  </blockquote>

  <!-- Instagram script: kun én gang per side -->
  <script is:inline async src="https://www.instagram.com/embed.js"></script>
</div>

<div class="max-w-[300px] mx-auto my-8">
  <blockquote
    class="instagram-media"
    data-instgrm-permalink="https://www.instagram.com/p/DQUeIFuEWi-/?utm_source=ig_embed&amp;utm_campaign=loading"
    data-instgrm-version="14"
    style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px auto; max-width:540px; min-width:326px; width:calc(100% - 2px);">
  </blockquote>

  <!-- Instagram script: kun én gang per side -->
  <script is:inline async src="https://www.instagram.com/embed.js"></script>
</div>

<div class="max-w-[300px] mx-auto my-8">
  <blockquote
    class="instagram-media"
    data-instgrm-permalink="https://www.instagram.com/p/DQR5WKBgbmE/?utm_source=ig_embed&amp;utm_campaign=loading"
    data-instgrm-version="14"
    style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px auto; max-width:540px; min-width:326px; width:calc(100% - 2px);">
  </blockquote>

  <!-- Instagram script: kun én gang per side -->
  <script is:inline async src="https://www.instagram.com/embed.js"></script>
</div>
</section>