
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-10 mb-30">
  <!-- Embed 1 -->
  <div class="instagram-container flex justify-center">
    <blockquote
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/reel/DNOE4oKs3lf/?utm_source=ig_embed&utm_campaign=loading"
      data-instgrm-version="14"
      style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); width:100%; max-width:300px; margin:0;">
    </blockquote>
  </div>

  <!-- Embed 2 -->
  <div class="instagram-container flex justify-center">
    <blockquote
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/p/DQZnunKjM3T/?utm_source=ig_embed&amp;utm_campaign=loading"
      data-instgrm-version="14"
      style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); width:100%; max-width:300px; margin:0;">
    </blockquote>
  </div>

  <!-- Embed 3 -->
  <div class="instagram-container flex justify-center">
    <blockquote
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/p/DQUeIFuEWi-/?utm_source=ig_embed&amp;utm_campaign=loading"
      data-instgrm-version="14"
      style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); width:100%; max-width:300px; margin:0;">
    </blockquote>
  </div>

  <!-- Embed 4 -->
  <div class="instagram-container flex justify-center">
    <blockquote
      class="instagram-media"
      data-instgrm-permalink="https://www.instagram.com/p/DQR5WKBgbmE/?utm_source=ig_embed&amp;utm_campaign=loading"
      data-instgrm-version="14"
      style="background:#fff; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); width:100%; max-width:300px; margin:0;">
    </blockquote>
  </div>

  <!-- Instagram script: kun én gang per side -->
  <script is:inline async src="https://www.instagram.com/embed.js"></script>
</section>
