---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
const { title } = Astro.props;
---
<html lang="da" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="nofollow, noindex" />
		<link rel="icon" type="image/webp" href="/img/favicon.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&display=swap" rel="stylesheet">
		<script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
	</head>
	<body class="bg-[var(--color-primary)]">
		
		
		
		<slot />

		<Footer></Footer>
			
	</body>
</html>